<div class="welcome-container">
  <div class="welcome-content" *transloco="let t, read:'welcomePage'">
    <div class="welcome-text-container">
      <h1>{{t("welcome")}}</h1>
      <p>{{t("intro")}}</p>
      <p>{{t("about")}}</p>
      <p>{{t("explore")}}</p>
      <div class="video-container">
        <div *ngIf="getActiveLanguage('en')">
          <video class="tutorial-video tutorial-video-small" controls>
            <source src="https://res.cloudinary.com/l1nn3h/video/upload/v1713536392/riddle_video/tutorial_sm_ENG_ym5iqb.mp4" type="video/mp4">
          </video>
          <video class="tutorial-video tutorial-video-large" controls>
            <source src="https://res.cloudinary.com/l1nn3h/video/upload/v1713512764/riddle_video/tutorial_lg_ENG_fyw3gi.mp4" type="video/mp4">
          </video>
        </div>
        <div *ngIf="getActiveLanguage('hu')">
          <video class="tutorial-video tutorial-video-small" controls>
            <source src="https://res.cloudinary.com/l1nn3h/video/upload/v1713548476/riddle_video/Riddle_tutorial_sm_HUN_ft0sif.mp4" type="video/mp4">
          </video>
          <video class="tutorial-video tutorial-video-large" controls>
            <source src="https://res.cloudinary.com/l1nn3h/video/upload/v1713559335/riddle_video/Riddle_tutorial_LG_HUN_bq1xd6.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <p>{{t("save")}}</p>
      <p>{{t("callToAction")}}</p>
    </div>
    <div class="saved-game" *ngIf="savedGameStats">
      <div class="saved-game-container">
        <h3 class="saved-game-text">{{t("saveGame")}}</h3>
        <p>{{t("solved")}} {{savedGameStats.solvedRiddles}} / {{savedGameStats.allRiddles}}</p>
        <p>{{t("clues")}} {{savedGameStats.cluesUsed}}</p>
        <p>{{t("solutions")}} {{savedGameStats.solutionsUsed}}</p>
        <p>{{t("pointsCollected")}} {{savedGameStats.points}} / {{savedGameStats.allRiddles * 3}}</p>
      </div>
      <div class="start-game-container">
        <button class="button start-button" (click)="startNewGame()">{{t("newGame")}}</button>
        <button class="button start-button continue-button" (click)="continueGame()" *ngIf="savedGameStats.solvedRiddles != savedGameStats.allRiddles">{{t("continueGame")}}</button>
      </div>
    </div>
    <div *ngIf="!savedGameStats">
      <div class="start-game-container">
        <button class="button start-button" (click)="startNewGame()">{{t("newGame")}}</button>
      </div>
    </div>
  </div>
</div>
