<div class="welcome-container">
  <div class="welcome-content" *transloco="let t, read:'welcomePage'">
    <div class="welcome-text-container">
      <h1>{{t("welcome")}}</h1>
      <p>{{t("intro")}}</p>
      <p>{{t("about")}}</p>
      <p>{{t("explore")}}</p>
      <div class="dummy-image-container" *transloco="let t, read:'dummyImage'">
        <img
          class="dummy-image dummy-image-small"
          [src]="setImageSource('Small')"
          alt=""
        >
        <img
          class="dummy-image dummy-image-large"
          [src]="setImageSource('Large')"
          alt=""
        >
      </div>
      <p>{{t("titleBar")}}</p>
      <p>{{t("image")}}</p>
      <p>{{t("helpBarStart")}}</p>
        <ul>
          <li>{{t("helpText")}}</li>
          <li>{{t("helpImage")}}</li>
          <li>{{t("helpSound")}}</li>
          <li>{{t("helpLink")}}</li>
        </ul>
      <p>{{t("helpBarEnd")}}</p>
      <p>{{t("solution")}}</p>
      <p>{{t("code")}}</p>
      <p>{{t("callToAction")}}</p>
    </div>
    <div class="start-game-container">
      <button class="button start-button" (click)="startNewGame()">{{t("newGame")}}</button>
      <button class="button start-button" (click)="continueGame()" *ngIf="checkForSavedGame()">{{t("continueGame")}}</button>
    </div>
  </div>
</div>
