<div class="solution-container">
  <div class="solution-input-container" *ngIf="solutionOptions.length">
    <form [formGroup]="solutionForm" (ngSubmit)="onSubmit()">
      <div class="form-group" *transloco="let t, read:'solution'">
        <label for="textInput" >{{t("inputLabel")}}</label>
        <input
          autocomplete="off"
          type="text"
          id="textInput"
          name="textInput"
          class="form-control"
          formControlName="textInput"
        />
        <button class="button solution-button">{{t("submitButton")}}</button>
      </div>
    </form>
  </div>
</div>
