<div class="contact-container">
  <div class="contact-content">
    <div class="back-to-game-container">
      <button class="button back-to-game-button" routerLink="/"><i class="fa-solid fa-left-long"></i></button>
    </div>
    <div class="contact-text-container">
      <h1>Contact</h1>
    </div>
    <div class="contact-form-container" *ngIf="!confirmedEmail && !error">
      <p>should you bla ba</p>
      <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="name styled-input wide" [class.error]="contactForm.controls.name.errors && contactForm.controls.name.touched">
            <input type="text" formControlName="name">
            <label>Name</label>
            <small class="error" *ngIf="contactForm.controls.name.errors && contactForm.controls.name.touched">
              Name is too short!
            </small>
          </div>
        </div>
        <div>
          <div class="email styled-input wide" [class.error]="contactForm.controls.email.errors && (contactForm.controls.email.touched  || contactForm.controls.email.dirty)">
            <input type="email" formControlName="email" autocomplete="one-time-code">
            <label>Email</label>
            <small class="error" *ngIf="contactForm.controls.email.errors && contactForm.controls.email.touched">
              Email is invalid!
            </small>
          </div>
        </div>
        <div class="message styled-input wide">
          <textarea formControlName="message"></textarea>
          <label>Message</label>
          <small class="error" *ngIf="contactForm.controls.message.errors && contactForm.controls.message.touched">
            Message is invalid!
          </small>
        </div>
        <button class="button send-email-button g-recaptcha" [disabled]="contactForm.invalid">Submit</button>
      </form>
    </div>
    <div class="message-sent-container" *ngIf="confirmedEmail && confirmedEmail.emailSent">
      <p>Thank you for your message, {{confirmedEmail.name}}!</p>
    </div>
    <div class="message-sent-container" *ngIf="error">
      <p>Your message could not be sent. Please try again later.</p>
    </div>
  </div>
</div>
