@mixin box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@mixin max-size {
  height: 100%;
  width: 100%;
}

@mixin hide-scrollbar {
  display: none;
  width: 0 !important;
}

@mixin help-in-rows {
  .help-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
  }
}

@mixin help-in-columns {
  .help-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}

@mixin icon-shadow($color) {
  text-shadow: 4px 5px 8px $color;
}
