@mixin box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@mixin max-size {
  height: 100%;
  width: 100%;
}

@mixin hide-scrollbar {
  display: none;
  width: 0 !important;
}

@mixin help-in-rows {
  .help-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    .help-item {
      i {
        font-size: 50px;
      }

      i:hover {
        font-size: 55px;
      }
    }
  }
}

@mixin help-in-columns {
  .help-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    height: 100%;

    .help-item {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .help-icon, .audio {
        height: 100%;
        width: 100%;

        i {
          position:relative;
          top: calc(50% - 12px);
          font-size: 24px;
        }

        i:hover {
          font-size: 22px;
        }
      }
    }
  }
}

@mixin icon-shadow($color) {
  text-shadow: 4px 5px 8px $color;
}
