$light-background: #f8f5f5;
$light-text: #3d3859;
$light-shadow: rgba(201, 198, 198, 0.5);
$light-border: black;
$light-line: #918f8f;
$light-alert: #dc5028;

$gray-background: #2c2b2b;
$gray-text: #f3eeee;
$gray-shadow: rgba(196, 195, 195, 0.05);
$gray-border: #646363;
$gray-line: #8c8a8a;
$gray-alert: #028096;

$dark-background: #1f1f1f;
$dark-text: #efefef;
$dark-shadow: rgba(208, 206, 206, 0.05);
$dark-border: #d0cece;
$dark-line: #b4b0b0;
$dark-alert: #7513a6;

$blue-background: #041c6e;
$blue-text: #d8dff6;
$blue-shadow: rgba(189, 201, 246, 0.05);
$blue-border: #7f92ea;
$blue-line: #3784e8;
$blue-alert: #03918d;

$purple-background: #5b2f6c;
$purple-text: #e5eaf5;
$purple-shadow: rgba(212, 139, 232, 0.05);
$purple-border: #3b283b;
$purple-line: #814fb7;
$purple-alert: #9fc907;

$sand-background: #e3dac6;
$sand-text: #4d2b18;
$sand-shadow: rgba(89, 25, 5, 0.05);
$sand-border: #5b331f;
$sand-line: #81492b;
$sand-alert: #cc4003;

$pink-background: #fbe3e8;
$pink-text: #64033c;
$pink-shadow: rgba(176, 15, 100, 0.05);
$pink-border: #564c4f;
$pink-line: #7a3939;
$pink-alert: #980124;
