@import "./mixins";

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .video-container {
    .tutorial-video-small {
      max-width: 400px;
    }

    .tutorial-video-large {
      display: none;
    }
  }

  .menu-container {
    width: 38px;
    right: 3px;

    .vertical-line {
      display: none;
    }

    .menu-toggle {
      display: flex;

      #hamburger-menu {
        font-size: 30px;
        margin: 5px 0 !important;
      }
    }

    .menu-options {
      display: none;
    }

    .small-menu-visible {
      display: flex;
      flex-direction: column-reverse;
    }

    .menu-item {
      margin-top: 5px !important;
    }

    .contact-menu-container {
      order: 1;
      margin-bottom: 5px !important;

      .fa-envelope {
        font-size: 30px;
      }
    }

    .theme-container {
      width: 30px;

      .theme-options {
        width: 30px;

        .theme-option {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .contact-container {
    form {
      width: 95%;
    }

    .send-email-button {
      float: left;
    }
  }

  .riddle-body {
    overflow-x: scroll;
    grid-template-columns: 90vw;
    grid-template-rows: 10px 8vh auto 30vh 10vh 40px auto;
    grid-gap: 1vh;
    margin: 0 5vw;

    .topic {
      grid-column: 1;
      grid-row: 2 / span 1;
      font-size: 1.4rem;
    }

    .help {
      grid-column: 1;
      grid-row: 3 / span 1;
      @include help-in-columns;
      padding: 5px !important;

      .clue-image {
        width: 350px;
      }
    }

    .content {
      grid-column: 1;
      grid-row: 4;
      padding: 0 !important;
    }

    .solution {
      grid-column: 1;
      grid-row: 5;
      padding: 5px !important;

      label {
        display: block;
        padding: 0;
      }

      input {
        width: 100vw;
      }
    }

    .history {
      grid-column: 1;
      grid-row: 7;
      .solution-history-container {
        min-height: 250px;
      }
    }

    .progress {
      grid-column: 1;
      grid-row: 6;
      font-size: 1.1rem !important;

      .progress-container {
        display: flex;
        align-content: center;
        justify-content: space-around;
        line-height: 0.25;
      }
    }
  }
  .riddle-body::-webkit-scrollbar {
    @include hide-scrollbar;
  }
}

// From small devices (less  than 768px) upwards
@media (min-width: 768px) {
  .video-container {
    .tutorial-video-small {
      display: none;
    }
  }

  .menu-container {
    top: 10px;
    right: 10px;

    .menu-toggle {
      display: none;
    }

    .menu-options {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    img {
      margin: 5px;

    }

    .vertical-line {
      margin: 5px 5px;
      height: 30px;
      width: 0;
      float: left;
    }

    i {
      margin: 20px 5px;
    }

    img:hover, i:hover {
      @include slant-hover-effect;
    }

    .theme-container {
      .theme-option:hover {
        @include slant-hover-effect;
      }
    }
  }

  .contact-container {
    .send-email-button {
      float: right;
    }
  }

  .content {
    .picture-content {
      border-radius: 20px;
    }
  }
  .progress-divider {
    display: none;
  }
  .history {
    overflow: scroll;
  }
  .history::-webkit-scrollbar {
    @include hide-scrollbar;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
  .riddle-body {
    grid-template-rows: 1fr 1fr 1fr 7fr 90px 1fr;
    grid-template-columns: auto 220px;
    grid-gap: 10px;
    margin: 0 1vw;

    .topic {
      grid-column: 1;
      grid-row: 2;
    }

    .help {
      grid-column: 1;
      grid-row: 3;
      @include help-in-columns;

      .clue-image {
        max-width: 450px;
      }
    }

    .content {
      grid-column: 1;
      grid-row: 4;
    }

    .solution {
      grid-column: 1;
      grid-row: 5;
    }

    .history {
      grid-column: 2;
      grid-row: 2 / span 3;
    }

    .progress {
      grid-column: 2;
      grid-row: 5;

      .progress-container {
        display: block !important;
      }
    }

  }
}

//Large devices (desktops, less than 1200px) to X-Large devices (large desktops, less than 1400px)
@media (min-width: 992px) {

  .riddle-body {
    overflow-x: hidden;
    grid-template-rows: 1fr 2fr 10fr 90px 1fr;
    grid-template-columns: 2fr 8fr 3fr;
    grid-gap: 15px;
    margin: 0 auto;
    max-width: 1200px;

    .topic {
      grid-column: 1 / span 2;
      grid-row: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .help {
      grid-column: 1;
      grid-row: 3 / span 2;
      @include help-in-rows;

      .clue-image {
        max-width: 550px;
      }
    }

    .content {
      grid-column: 2;
      grid-row: 3;
    }

    .solution {
      grid-column: 2;
      grid-row: 4;
    }

    .history {
      grid-column: 3;
      grid-row: 2 / span 2;
    }

    .progress {
      grid-column: 3;
      grid-row: 4;
    }

  }
}

// XX-Large devices (large desktops, less than 1400px)
@media (min-width: 1400px) {
  .riddle-body {
    .topic {
      grid-column: 1 / span 3;
      grid-row: 2;
    }

    .history {
      grid-column: 3;
      grid-row: 3;
    }
  }
}
