@import "./mixins";

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .video-container {
    .tutorial-video-small {
      max-width: 400px;
    }
    .tutorial-video-large {
      display: none;
    }
  }

  .menu-container {
    position: absolute;
    width: 150px;
    top: 5px !important;
    right: 0 !important;
    margin: 0;

    .vertical-line {
      display: none;
    }

    div {
      margin: 0 2px !important;
    }

    i, img {
      margin: 0 !important;
    }

    .fa-envelope {
      margin-top: 15px !important;
    }

    i:hover, img:hover {
      transform: scale(1) rotate(0deg) !important;
    }

  }

  .contact-container {
    form {
      width: 95%;
    }

    button {
      float: left !important;
    }
  }

  .riddle-body {
    overflow-x: scroll;
    grid-template-columns: 90vw;
    grid-template-rows: 10px 8vh auto 30vh 10vh 40px auto;
    grid-gap: 1vh;
    margin: 0 5vw;

    .topic {
      grid-column: 1;
      grid-row: 2 / span 1;
      font-size: 1.4rem !important;
    }

    .help {
      grid-column: 1;
      grid-row: 3 / span 1;
      @include help-in-columns;
      padding: 5px !important;

      .clue-image {
        width: 350px;
      }
    }

    .content {
      grid-column: 1;
      grid-row: 4;
      padding: 0 !important;

      img {
        border-radius: 0 !important;
      }
    }

    .solution {
      grid-column: 1;
      grid-row: 5;
      padding: 5px !important;

      label {
        display: block;
        padding: 0;
      }

      input {
        width: 100vw;
      }
    }

    .history {
      grid-column: 1;
      grid-row: 7;
      max-height: inherit;
      min-height: 250px;
    }

    .progress {
      grid-column: 1;
      grid-row: 6;
      font-size: 1.25rem !important;
      .progress-container {
        display: flex;
        align-content: center;
        justify-content: space-around;
        line-height: 0.25;
        .progress-divider {
          display: block !important;
        }
      }
    }
  }
  .riddle-body::-webkit-scrollbar {
    @include hide-scrollbar;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
  .video-container {
    .tutorial-video-small {
      display: none;
    }
  }
  .riddle-body {
    grid-template-rows: 1fr 1fr 1fr 7fr 90px 1fr;
    grid-template-columns: auto 220px;
    grid-gap: 10px;
    margin: 0 1vw;

    .topic {
      grid-column: 1;
      grid-row: 2;
    }

    .help {
      grid-column: 1;
      grid-row: 3;
      @include help-in-columns;

      .clue-image {
        width: 450px;
      }
    }

    .content {
      grid-column: 1;
      grid-row: 4;
    }

    .solution {
      grid-column: 1;
      grid-row: 5;
    }

    .history {
      overflow: scroll;
      grid-column: 2;
      grid-row: 2 / span 3;
    }

    .progress {
      grid-column: 2;
      grid-row: 5;

      .progress-container {
        display: block !important;
      }
    }

    .history::-webkit-scrollbar {
      @include hide-scrollbar;
    }
  }
}

//Large devices (desktops, less than 1200px) to X-Large devices (large desktops, less than 1400px)
@media (min-width: 992px) {
  .video-container {
    .tutorial-video-small {
      display: none;
    }
  }
  .riddle-body {
    overflow-x: hidden;
    grid-template-rows: 1fr 2fr 10fr 90px 1fr;
    grid-template-columns: 2fr 8fr 3fr;
    grid-gap: 15px;
    margin: 0 auto;
    max-width: 1200px;

    .topic {
      grid-column: 1 / span 2;
      grid-row: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .help {
      grid-column: 1;
      grid-row: 3 / span 2;
      @include help-in-rows;

      .clue-image {
        width: 550px;
      }
    }

    .content {
      grid-column: 2;
      grid-row: 3;
    }

    .solution {
      grid-column: 2;
      grid-row: 4;
    }

    .history {
      overflow: scroll;
      grid-column: 3;
      grid-row: 2 / span 2;
    }

    .progress {
      grid-column: 3;
      grid-row: 4;
    }

    .history::-webkit-scrollbar {
      @include hide-scrollbar;
    }
  }
}

// XX-Large devices (large desktops, less than 1400px)
@media (min-width: 1400px) {
  .riddle-body {
    .topic {
      grid-column: 1 / span 3;
      grid-row: 2;
    }

    .history {
      overflow: scroll;
      grid-column: 3;
      grid-row: 3;
    }
  }
}
