<div class="menu-container">
  <div class="menu-toggle">
    <i class="fa-solid fa-circle-chevron-down" id="hamburger-menu" (click)="toggleMenu()"></i>
  </div>
  <div class="menu-options" [ngClass]="{'small-menu-visible' : menuVisible}">
    <app-theme></app-theme>
    <div class="vertical-line"></div>
    <app-language-selector></app-language-selector>
    <div class="vertical-line"></div>
    <div class="contact-menu-container menu-item">
      <i routerLink="/contact" class="fa-solid fa-envelope fa-2xl"></i>
    </div>
  </div>
</div>
