<div class="riddle-container">
  <div class="riddle-body">
    <app-help class="box help" [helpOptions]="helpOptions"></app-help>
    <app-picture-screen class="box content" [pictureSource]="pictureSource"></app-picture-screen>
    <app-solution-input class="box solution" (newSolutionEvent)="getCheckedSolutionInput($event)" [solutionOptions]="solutionOptions"></app-solution-input>
    <app-solution-history class="box history" [submittedSolutions]="submittedSolutions"></app-solution-history>
  </div>
</div>
