@import "styles/mixins";
@import "styles/responsivity";
@import "styles/color-scheme";
@import "styles/colors";

body {
  margin: 0;
}

.button {
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

div::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

.welcome-container, .riddle-container, .end-container, .contact-container {
  font-weight: bold;
  width: 100vw;
  height: 100vh;

  .welcome-content, .end-content, .contact-content {
    max-width: 750px;
    max-height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: justify;

    .saved-game {
      max-width: 400px;
      margin: 0 auto;

      .saved-game-container {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;
        font-size: 1.2rem;
        line-height: 0.8rem;
      }
    }
  }
}

.welcome-container {
  margin: 0;

  .welcome-content {
    .welcome-text-container {
      margin: 50px auto 0 auto;
      padding: 2em;

      .video-container {
        width: 100%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        .tutorial-video {
          width: 100%;
        }
      }

      h1 {
        text-align: center;
        padding: 10px;
      }
    }

    .start-game-container {
      @include center-content;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 20px;
      margin: 0 auto 100px auto;
    }
  }
}

.contact-container {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .contact-content {
    padding: 2em;

    .contact-form-container {
      .contact-form {
        .styled-input {
          float: left;
          margin: 1rem 0;
          position: relative;
          border-radius: 4px;
        }

        .styled-input label {
          position: absolute;
          top: 10px;
          left: 10px;
          pointer-events: none;
        }

        .styled-input.wide {
          width: 650px;
          max-width: 100%;
        }

        input,
        textarea {
          width: 100%;
          border: 0;
          border-radius: 4px;
          padding: 30px 10px;
          font-size: 1.4rem;
          font-family: Times New Roman, sans-serif;
        }

        textarea {
          min-height: 5em;
          max-height: 15em;
          min-width: 100%;
          max-width: 100%;
        }

        .error {
          font-size: 1rem;
        }

        .send-email-button {
          padding: 7px 35px;
          border-radius: 60px;
          display: inline-block;
        }
      }
    }
  }
}

.menu-container {
  position: absolute;
  z-index: 1;

    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.3s;
    }

    i {
      cursor: pointer;
      transition: all 0.3s;
    }


  .theme-container {
    .theme-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .theme-option {
        height: 30px;
        width: 30px;
        font-size: 25px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        cursor: pointer;

        &-light {
          @include theme-picker-colors($light-background, $light-text, $light-border);
        }

        &-gray {
          @include theme-picker-colors($gray-background, $gray-text, $gray-border);
        }

        &-dark {
          @include theme-picker-colors($dark-background, $dark-text, $dark-border);
        }

        &-blue {
          @include theme-picker-colors($blue-background, $blue-text, $blue-border);
        }

        &-purple {
          @include theme-picker-colors($purple-background, $purple-text, $purple-border);
        }

        &-sand {
          @include theme-picker-colors($sand-background, $sand-text, $sand-border);
        }

        &-pink {
          @include theme-picker-colors($pink-background, $pink-text, $pink-border);
        }
      }
    }
  }

  .alert {
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    max-height: 60px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr 1fr;

    animation-duration: 2s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);

    .alert-text {
      grid-column: 1;
      grid-row: 1;
      margin-top: 5px;
    }

    .alert-icon {
      font-size: 25px;
      margin-left: 5px;
      grid-column: 2;
      grid-row: 1;
    }

    .alert-button {
      cursor: pointer;
      font-size: 30px;
      grid-column: 1 / span 2;
      grid-row: 2;
      margin: 0 auto;
    }

    .alert-button:hover {
      @include slant-hover-effect;
    }
  }

  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  @keyframes example {
    from {
      right: 200%;
    }
    to {
      right: 0;
    }
  }

  .alert-one {
    margin-left: 15px;
  }

  .alert-two {
    flex-basis: 100%;
    position: absolute;
    top: 40px;
    right: 57px;
    width: fit-content;
  }

  .alert-three {
    flex-basis: 100%;
    position: absolute;
    top: 40px;
    right: 2px;
    width: fit-content;
  }
}

.riddle-container {
  text-align: center;
  font-weight: bold;
  width: 100vw;
  height: 100vh;

  .riddle-body {
    height: 100vh;
    display: grid;

    .box {
      padding: 20px;
      font-size: 150%;
    }

    .topic-container {
      h3 {
        margin: 0;
      }
    }

    .progress-container {
      p {
        margin: 0;
      }
    }

    .help-container {
      i {
        cursor: pointer;
        text-align: center;
      }

      i:hover {
        @include slant-hover-effect;
      }

      .fa-question {
        color: #10b610;
        @include icon-shadow(rgba(0, 0, 0, 0.41));
      }

      .fa-folder-open {
        color: #ec1919;
        @include icon-shadow(rgba(63, 2, 2, 0.41));
      }

      .fa-up-right-from-square {
        color: #20b6b6;
        @include icon-shadow(rgba(10, 63, 63, 0.41));
      }

      .audio {
        .fa-play {
          color: #44ea15;
          @include icon-shadow(rgba(0, 0, 0, 0.41));
        }

        .fa-stop {
          color: #ec1919;
          @include icon-shadow(rgba(63, 2, 2, 0.41));

        }

        .fa-play:hover, .fa-stop:hover {
          transform: scale(1.3);
        }
      }

      .thumbnail-container {
        @include center-content;

        .thumbnail {
          cursor: pointer;
          border-radius: 10px;
          border: 1px solid black;
        }

        .thumbnail:hover {
          @include slant-hover-effect;
        }
      }

      .clue-image-container {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 35, 35, 0.70);

        .clue-image-background {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          display: inline-block;
          width: fit-content;
          height: fit-content;

          .clue-image {
            display: block;
            margin: auto;
            border: 2px solid gray;
            border-radius: 20px;
          }

          .close-image-button {
            font-size: 25px;
            color: white;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
          }
        }
      }
    }

    .content {
      .picture-screen-container {
        @include max-size;

        .picture-content {
          @include max-size;
        }
      }
    }

    .history {
      .solution-history-container {
        text-align: center;
        overflow-wrap: anywhere;
        font-weight: bold;

        .solution-title {
          margin: 10px auto 30px auto;
        }

        p {
          margin: 5px;
        }

        .separator {
          margin-top: 50px;
        }

        .correct {
          color: #109a10;
        }

        .incorrect {
          color: #ec0e0e;
        }
      }

      .solution-history-container::-webkit-scrollbar {
        @include hide-scrollbar;
      }
    }

    .solution-container {
      @include center-content;
      text-align: center;

      .solution-input-container {
        width: 100%;
        padding: 5px;

        .form-control {
          font-weight: bold;
          font-size: 20px;
          border-radius: 10px;
          padding: 5px;
          max-width: 60%;
        }

        .solution-button {
          margin-left: 5px;
        }
      }
    }
  }
}
