@import "styles/mixins";
@import "styles/responsivity";

body {
  margin: 0 !important;
}

.riddle-container {
  text-align: center;
  font-weight: bold;

  background-image: url("/assets/images/welcomebg.jpg");
  background-repeat: no-repeat;
  background-position: center/contain;
  background-size: cover;
  width: 100vw;
  height: 100vh;


  .riddle-body {
    height: 100vh;
    display: grid;


    .box {
      background-color: rgba(43, 43, 43, 0.73);
      color: #fff;
      padding: 20px;
      font-size: 150%;
    }

    .topic-container {

      h3 {
        margin: 0;
      }

    }

    .content {
      .picture-screen-container {
        @include max-size;

        .picture-content {
          @include max-size;
          border-radius: 20px;
        }
      }
    }

    .history {
      .solution-history-container {
        text-align: center;
        overflow-wrap: anywhere;
        font-weight: bold;

        .correct {
          color: #39e839;
        }

        .incorrect {
          color: #e14141;
        }
      }

      .solution-history-container::-webkit-scrollbar {
        @include hide-scrollbar;
      }
    }

    .solution-input-container {
      .input-error {
        color: #ab1f1f;
        font-weight: bold;
      }
    }
  }
}
