@import "styles/mixins";
@import "styles/responsivity";
@import "styles/color-scheme";
@import "styles/colors";

body {
  margin: 0 !important;
}

.menu-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;

  .vertical-line {
    margin: 5px 5px;
    height: 30px;
    width: 0;
    float: left;
  }

  .flag-container, .theme-container {
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.3s;
      margin: 5px;
    }

    img:hover {
      @include slant-hover-effect;
    }
  }

  .theme-container {
    .theme-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      transition: all 0.3s;

      .theme-option {
        height: 30px;
        width: 30px;
        font-size: 25px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        cursor: pointer;

        &-light {
          @include theme-picker-colors($light-background, $light-text, $light-border);
        }
        &-gray {
          @include theme-picker-colors($gray-background, $gray-text, $gray-border);
        }
        &-dark {
          @include theme-picker-colors($dark-background, $dark-text, $dark-border);
        }
        &-blue {
          @include theme-picker-colors($blue-background, $blue-text, $blue-border);
        }
        &-purple {
          @include theme-picker-colors($purple-background, $purple-text, $purple-border);
        }
        &-sand {
          @include theme-picker-colors($sand-background, $sand-text, $sand-border);
        }
        &-pink {
          @include theme-picker-colors($pink-background, $pink-text, $pink-border);
        }
      }

      .theme-option:hover {
        @include slant-hover-effect;
      }
    }
  }
}

.riddle-container {
  text-align: center;
  font-weight: bold;
  width: 100vw;
  height: 100vh;


  .riddle-body {
    height: 100vh;
    display: grid;

    .box {
      padding: 20px;
      font-size: 150%;
    }

    .topic-container {
      h3 {
        margin: 0;
      }
    }

    .help-container {
      i {
        cursor: pointer;
        text-align: center;
      }

      .fa-lightbulb {
        color: #e8e823;
        @include icon-shadow(#7e7e0f);
      }

      .fa-folder-open {
        color: #ec1919;
        @include icon-shadow(#7a0e0e);
      }

      .audio {
        .fa-play {
          color: #44ea15;
        }

        .fa-stop {
          color: red;
        }
      }
    }


    .content {
      .picture-screen-container {
        @include max-size;

        .picture-content {
          @include max-size;
          border-radius: 20px;
        }
      }
    }

    .history {
      .solution-history-container {
        text-align: center;
        overflow-wrap: anywhere;
        font-weight: bold;

        .correct {
          color: #39e839;
        }

        .incorrect {
          color: #e14141;
        }

        .level-code {
          color: #0e94e8;
        }
      }

      .solution-history-container::-webkit-scrollbar {
        @include hide-scrollbar;
      }
    }

    .solution-input-container {
      .input-error {
        color: #ab1f1f;
        font-weight: bold;
      }
    }
  }
}
